$body-background-color: #f4f5f7;   // cool light grey
$sidebar-color: #e9ebef;           // subtle cool grey

$body-text-color: #1e2126;         // deep charcoal
$heading-color: #111318;

$link-color: #2f4f7f;              // muted Oxford blue
$nav-child-link-color: #2f4f7f;

$border-color: #d8dbe2;
$code-background-color: #eef1f5;
