$body-background-color: #0f1115;
$sidebar-color: #141824;

$body-text-color: #e7eaf0;
$heading-color: #ffffff;

$link-color: #7aa2ff;
$nav-child-link-color: #7aa2ff;

$border-color: rgba(255,255,255,0.12);
$code-background-color: rgba(255,255,255,0.06);
