$body-background-color: #f7f6f3;
$sidebar-color: #eceae6;

$body-text-color: #2c2f36;
$heading-color: #1f2329;

$link-color: #3a5a8a;
$nav-child-link-color: #3a5a8a;

$border-color: #d4d6dc;
$code-background-color: #f0f0f2;
