$body-background-color: #fbfbfa;
$sidebar-color: #f4f4f1;

$body-text-color: #1f2328;
$heading-color: #111418;

$link-color: #2b5db6;
$nav-child-link-color: #2b5db6;

$border-color: rgba(0,0,0,0.12);
$code-background-color: #f3f3f3;
