<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

<link rel="icon" type="image/png" sizes="32x32" href="{{ '/figures/favicon_ico.ico' | relative_url }}">
<link rel="shortcut icon" href="{{ '/figures/favicon_ico.ico' | relative_url }}">


<link href="https://fonts.googleapis.com/css2?family=STIX+Two+Text:wght@400;600&family=Inter:wght@400;600&display=swap" rel="stylesheet">

<link rel="stylesheet" href="{{ '/assets/css/custom.css' | relative_url }}">
<link rel="stylesheet" href="{{ '/assets/css/print.css' | relative_url }}" media="print">
{% assign page_title = page.title | default: site.title %}
{% assign page_desc  = page.description | default: site.description %}
{% assign page_url   = page.url | absolute_url %}

{% if page.image %}
  {% assign page_img = page.image | absolute_url %}
{% elsif site.og_image %}
  {% assign page_img = site.og_image | absolute_url %}
{% endif %}

<meta property="og:type" content="website">
<meta property="og:title" content="{{ page_title }}">
<meta property="og:description" content="{{ page_desc }}">
<meta property="og:url" content="{{ page_url }}">
{% if page_img %}<meta property="og:image" content="{{ page_img }}">{% endif %}

<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="{{ page_title }}">
<meta name="twitter:description" content="{{ page_desc }}">
{% if page_img %}<meta name="twitter:image" content="{{ page_img }}">{% endif %}
<script data-goatcounter="https://haridev-v.goatcounter.com/count"
        async src="//gc.zgo.at/count.js"></script>
<script>
  window.MathJax = {
    tex: {
      inlineMath: [['$', '$'], ['\\(', '\\)']],
      displayMath: [['$$', '$$'], ['\\[', '\\]']],
      tags: 'ams'
    },
    chtml: { scale: 1.0 }
  };
</script>

<script defer src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-chtml.js"></script>
